ul.navigation {
  padding: 0;
}

ul.navigation li {
  display: inline;
  display: inline-block;
}

ul.navigation li:not(:last-child) {
  margin-right: 0.5em;
}

ul.navigation li a.active {
  color: #333;
  text-decoration: none;
}
